body {
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}
h1 {
  font-weight: bold;
}
.info {
  border: 1px solid #98a1d9;
  margin-top: 25px;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 25px;
}
.more {
  border: 1px solid #98a1d9;
  padding: 30px;
  margin: 15px;
  border-radius: 25px;
}
.container {
  border: 1px solid white;
  margin-top: 70px;
  display: block;
  padding: 65px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.2);
  border-radius: 25px;
}
.tempreture {
  font-size: 45px;
}
.highlow {
  padding-top: 25px;
}
.degree {
  text-decoration: none;
  color: inherit;
}
.sorce {
  font-family: "Roboto Mono", monospace;
  color: #394457;
}
